# Ignore everything by default
*

# Keep only themes and mu-plugins
!/themes/
!/mu-plugins/

# Inside themes, only track my theme
/themes/*
!/themes/fc-university-theme/

# Ignore common WP folders
/uploads/
/plugins/
/cache/
/upgrade/
/languages/
